version: '3.8'
services:
    redis:
        image: "redis:alpine"
        hostname: redis
        ports:
        - "6379:6379"
    db:
        image: postgres
        restart: always
        ports:
            - 5432:5432
        environment:
            POSTGRES_DB: ${DB_HOST}
            POSTGRES_USER:  ${DB_USER}
            POSTGRES_PASSWORD:  ${DB_PASSWORD}
        volumes:
          - stellaDatabase:/postgresql/data
        depends_on:
         - redis

volumes:
  stellaDatabase:

